@font-face
{
    font-family: Intro Cond;
    src: url('IntroCondLightFree.otf') format('opentype');
}

body
{
    font-family: 'Intro Cond';
    background: #2d2d2d;
}

.button
{
    display: block;
    cursor: pointer;
    color: #fff;
}

.button:checked ~ .info
{
    display: block;
    height: 800px;
    width: 600px;
}

.button:checked ~ .info .inline
{
    display: none;
}

.button:checked ~ .info .list
{
    display: block;
    font-size: 23px;
    padding: 7px;
}

.button:checked ~ .info > .img_center
{
    height: 60%;
    max-width: 100%;
}

.info
{
    display: inline-block;
    width: 250px;
    height: 400px;
    margin: 20px;
    border: 1px solid #d3d3d3;
    color: #696969;
    border-radius: 8px;
    background: #9de3e2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px;
}

.info:hover
{
    box-shadow: 0 0 10px #fff;
}

.info a
{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.info a:hover
{
    font-weight: bold;
    font-size: 2em;
}

.inline
{
    float: left;
    font-size: 16px;
}

.inline p
{
    margin: 0;
}

.info .img_center
{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img_center:hover
{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.img_center
{
    overflow: hidden;
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 60%;
    border-radius: inherit;
}

.list
{
    display: none;
}

.image_type_eva
{
    background-image: url(https://pp.userapi.com/c851416/v851416202/36cb5/7hQPa1H_nxA.jpg);
}

.image_type_tom
{
    background-image: url(https://pp.userapi.com/c845217/v845217226/f4713/0ids8-AkgwA.jpg);
}

.image_type_salt
{
    background-image: url(https://pp.userapi.com/c834304/v834304508/b13af/hExBzMK8UJI.jpg);
}

.image_type_patrik
{
    background-image: url(https://pp.userapi.com/c840427/v840427638/8a176/gL6qApF1afs.jpg);
}

.image_type_matroskin
{
    background-image: url(https://pp.userapi.com/c849532/v849532252/9a8bd/8QUCA2z17SQ.jpg);
}

.image_type_malish
{
    background-image: url(https://pp.userapi.com/c845524/v845524957/104ad0/LYbklfe-jsU.jpg);
}

.image_type_like
{
    background-image: url(https://pp.userapi.com/c850132/v850132480/5d8b8/9ZuEEYr4UKA.jpg);
}

.image_type_leya
{
    background-image: url(https://pp.userapi.com/c834202/v834202929/f6260/j1IQHNqemyQ.jpg);
}

.image_type_klubnichka
{
    background-image: url(https://pp.userapi.com/c850636/v850636753/1b222/AOcx69euRUw.jpg);
}

.image_type_fanta
{
    background-image: url(https://pp.userapi.com/c824601/v824601025/12b2b0/OAvXl7REasI.jpg);
}
