@font-face
{
    font-family: Intro Cond;
    src: url('IntroCondLightFree.otf') format('opentype');
}

body
{
    font-family: 'Intro Cond';
    background: #2d2d2d;
}

.button
{
    display: block;
    cursor: pointer;
    color: white;
}

.button:checked ~ .info
{
    display: block;
    height: 800px;
    width: 600px;
}

.button:checked ~ .info .inline
{
    display: none;
}

.button:checked ~ .info .list
{
    display: block;
    position: absolute;
    top: 545px;
    font-size: 23px;
    padding: 7px;
}

.button:checked ~ .info a
{
    bottom: 32%;
}

.button:checked ~ .info > .img_center
{
    height: 60%;
    max-width: 100%;
}

.info
{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 400px;
    margin: 20px;
    border: 1px solid lightgrey;
    color: dimgray;
    border-radius: 8px;
    background: rgb(157, 227, 226);
}

.info:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.info a
{
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 30px;
    bottom: 28%;
    padding: 7px;
}

.inline
{
    position: absolute;
    bottom: 10%;
    font-size: 16px;
    padding: 7px;
}

.info .img_center
{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img_center:hover
{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.img_center
{
    overflow: hidden;
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 60%;
    margin: 5px;
    border-radius: inherit;
}

.list
{
    display: none;
}

.Eva
{
    background-image: url(https://pp.userapi.com/c851416/v851416202/36cb5/7hQPa1H_nxA.jpg);
}

.Tom
{
    background-image: url(https://pp.userapi.com/c845217/v845217226/f4713/0ids8-AkgwA.jpg);
}

.Salt
{
    background-image: url(https://pp.userapi.com/c834304/v834304508/b13af/hExBzMK8UJI.jpg);
}

.Patrik
{
    background-image: url(https://pp.userapi.com/c840427/v840427638/8a176/gL6qApF1afs.jpg);
}

.Matroskin
{
    background-image: url(https://pp.userapi.com/c849532/v849532252/9a8bd/8QUCA2z17SQ.jpg);
}

.Malish
{
    background-image: url(https://pp.userapi.com/c845524/v845524957/104ad0/LYbklfe-jsU.jpg);
}

.Like
{
    background-image: url(https://pp.userapi.com/c850132/v850132480/5d8b8/9ZuEEYr4UKA.jpg);
}

.Leya
{
    background-image: url(https://pp.userapi.com/c834202/v834202929/f6260/j1IQHNqemyQ.jpg);
}

.Klubnichka
{
    background-image: url(https://pp.userapi.com/c850636/v850636753/1b222/AOcx69euRUw.jpg);
}

.Fanta
{
    background-image: url(https://pp.userapi.com/c824601/v824601025/12b2b0/OAvXl7REasI.jpg);
}
